.detail {
  width: 100%;
  .test {
    height: 300rpx;
    width: 300rpx;
    background-color: red;
  }
  .tool {
    display: flex;
    .shop {
      width: 80%;
      display: flex;
      .logo {
        height: 100rpx;
        width: 100rpx;
        border-radius: 50%;
        background-color: red;
      }
      .name {
        font-size: 25rpx;
      }
      .slogen {
        font-size: 20rpx;
        color: #969494;
      }
    }
    .order {
      width: 20%;
      background-color: #f47175;
      font-size: 30rpx;
      color: #ffffff;
    }
  }
}
