.SetMeal {
  padding-top: 1rpx;
  .toptools {
    color: #999999;
    display: flex;
    padding: 20rpx 27rpx;
    justify-content: space-between;
    font-size: 20rpx;
    margin-bottom: 1rpx;
  }
  &-item {
    &-img {
      width: 100%;
      margin-bottom: 1rpx;
    }
    .title,
    .price {
      text-align: center;
      margin-bottom: 0.5rpx;
    }
    .price {
      color: #ff0000;
    }
    margin-bottom: 16rpx;
  }
}
