.SetMeal {
  padding-top: 1rpx;
  .toptools {
    color: #999999;
    display: flex;
    padding: 31rpx 27rpx;
    height: 20rpx;
    justify-content: space-between;
    font-size: 20rpx;
    margin-bottom: 1rpx;
    align-items: center;
    .price {
      display: flex;
      .sort {
        display: flex;
        width: 25rpx;
        flex-wrap: wrap;
        height: 20rpx;
        .icon {
          font-size: 16rpx;
          width: 100%;
          height: 10rpx;
        }
      }
    }
    .screen {
      .icon {
        font-size: 20rpx;
      }
    }
  }
  &-item {
    &-img {
      width: 100%;
      margin-bottom: 1rpx;
    }
    .title,
    .price {
      text-align: center;
      margin-bottom: 0.5rpx;
    }
    .price {
      color: #ff0000;
    }
    margin-bottom: 16rpx;
  }
}
