.button {
  width: 100%;
  font-weight: normal;
  padding: 0;
  text-align: center;
  line-height: 90rpx;
  height: 90rpx;
  margin: 0;
}
.submit {
  background: #386867;
  color: #fff;
}
.cancel {
  background: #d0e8b4;
  color: #fff;
}
