.adminTool {
  width: 100rpx;
  position: fixed;
  right: 20rpx;
  top: 60%;
  z-index: 10;
  .toolItem {
    margin-bottom: 10rpx;
    width: 100rpx;
    text-align: center;
    height: 100rpx;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: bold;
    .icon {
      font-weight: bolder;
    }
    .count {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(50%, -15%);
      width: 40rpx;
      height: 40rpx;
      border-radius: 50%;
      background-color: #f00;
    }
  }
}
