.massage {
  position: fixed;
  top: 20rpx;
  width: 100%;
  .content {
    position: relative;
    left: 50%;
    border-radius: 10rpx;
    transform: translateX(-50%);
    padding: 15rpx 20rpx;
    box-shadow: 0 0 5rpx #888888;
    display: flex;
    .icon {
      margin-right: 10rpx;
    }
    .text {
      text-align: center;
    }
  }
}
