.container {
  border-top: 1px #e0dfdf solid;
  width: 100%;
  padding-top: 2rem;
  // 店铺名称 - 开始
  .title {
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 0.1rem;
    .title-EN {
      font-family: "Tempus Sans ITC";
      font-size: 0.8rem;
    }
  }
  // 店铺名称 - 结束

  // 页面级导航栏 - 开始
  .business {
    // 导航栏 - 开始
    .pageNav {
      display: flex;
      position: relative;
      padding: 0 1rem;
      .businessTitle {
        color: #d2d2d2;
        text-align: center;
        padding: 0.2rem 0;
        flex: 1;
        border-right: 2px #e0dfdf solid;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &.on {
          background-color: #81c7ad;
          color: #ffffff;
        }

        &-text {
          width: 100%;
          border-right: 1px #e0dfdf solid;
          padding: 0.2rem;
        }
      }
      .my {
        border: none;
      }
      // 导航栏下拉框 - 开始
      .dropdown {
        position: absolute;
        top: 100%;
        width: 25%;
        background-color: red;
        font-size: 0.8rem;
        border-radius: 2px;
        &-shadow {
          box-shadow: 0px 6px 6px 3px #e0dfdf;
        }
        &-text {
          margin: 0.3rem;
        }
      }
      // 导航栏下拉框 -结束
    }
  }
  // 导航栏 - 结束
}
