$search-height: 3rem;
$bgcolor: #fefbfe;
$navColor: #a0bf7c; // 摄影类型导航栏字体颜色
$navColor-active: #407434; //摄影类型导航栏选择字体颜色
$font-color: #383838; //字体颜色

@mixin text-En {
  color: #979595;
  font-size: 0.5rem;
  text-align: center;
}

// 搜索框-开始
.search {
  width: 100%;
  height: $search-height;
  background-color: $bgcolor;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &-input {
    width: 80%;
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: #808080;
    background-color: #dddada;
  }
}

.search-position {
  width: 100%;
  height: $search-height;
}
// 搜索框-结束

// 店名展示-开始
.shop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bgcolor;

  &-logo {
    width: 100px;
    height: 100px;
    background-color: #407434;
  }

  &-title {
    color: #407434;
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }
  &-description {
    font-size: 0.7rem;
    text-align: center;
    color: $font-color;
  }
}
// 店名展示-结束

// 作品展示-开始
.show {
  margin-top: 1rem;
  width: 100%;
  .nav {
    display: flex;
    justify-content: space-around;
    &-list {
      color: $navColor;
      padding-bottom: 0.3rem;
      &.active {
        color: $navColor-active;
        border-bottom: 1px solid $navColor-active;
      }
    }
  }
}
// 作品展示-结束

//热门活动-开始
.activity {
  width: 100%;
  .title {
    width: 100%;
    .text-En {
      @include text-En;
    }
    .text-Zh {
      text-align: center;
    }
  }
}
// 热门活动结束

// 关于我们-开始
.aboutMe {
  width: 100%;
  color: $font-color;
  margin-bottom: 1rem;

  .text-En {
    @include text-En;
  }
  .text-Zh {
    text-align: center;
    margin-bottom: 0.4rem;
  }
  .introduction {
    text-indent: 2rem;
    font-size: 0.8rem;
  }
}
// 关于我们-结束
