.calendar {
  width: 100%;
  .calender-tips {
    text-align: left;
    padding: 20rpx 12rpx;
    color: #aca7a7;
    .remark {
      color: #ff0000;
    }
  }
  .calendar-title {
    background-color: #f6f6f6;
    padding: 35rpx 12rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ctrl {
      color: #72d0cf;
      display: inline-block;
      padding: 0 20rpx;
      border-radius: 10rpx;
    }
  }
  .calendar-week {
    display: flex;
    color: #72d0cf;
    text-align: center;
    padding: 20rpx 0;
    .item {
      flex: 1;
    }
  }
  .calendar-container {
    display: flex;
    flex-wrap: wrap;
    .grid {
      // display: inline-block;
      width: 14.28571428571429%;
      line-height: 110rpx;
      position: relative;
      z-index: 1;
      text-align: center;
      .self {
        position: absolute;
        top: 0rpx;
        right: 0rpx;
        width: 15rpx;
        height: 15rpx;
        border-radius: 50%;
        background: #72d0cf;
        border: 3rpx solid #fff;
      }
      .wrap.select {
        background: #72d0cf;
        color: #fff;
        width: 100%;
        margin: 0 auto;
      }
      .wrap.disable {
        background-color: #f6f6f6;
        color: #aca7a7;
        width: 100%;
        margin: 0 auto;
      }
    }
    .grid.gray {
      color: #ccc;
    }
  }
}
