.photoShow {
  padding: 20rpx 0 40rpx 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  &-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .photo {
      width: 50%;
      box-sizing: border-box;
      padding: 10rpx;
      position: relative;
      .img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
      .title {
        font-size: 25rpx;
        text-align: center;
      }
      .time {
        font-size: 20rpx;
        color: #cacaca;
        text-align: center;
      }
    }
  }
}
