.photoShow {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-box {
    width: 100%;
    display: flex;
    .photo {
      width: 50%;
      display: flex;
      justify-content: center;
    }
  }
}
