$search-height: 3rpx;
$bgcolor: #fefbfe;

// 搜索框-开始
.search {
  width: 100%;
  height: $search-height;
  background-color: $bgcolor;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .input {
    width: 80%;
    input {
      font-size: 16rpx;
      border-radius: 10px;
      padding: 5px;
      color: #808080;
      background-color: #dddada;
    }
  }
  .button {
    width: 10%;
    button {
      width: 100%;
      font-size: 1rpx;
      background-color: goldenrod;
      padding: 0%;
    }
  }
}

.search-position {
  width: 100%;
  height: $search-height;
}
// 搜索框-结束

// 搜索历史-开始
.searchHistory {
  width: 100%;

  .deletedAll {
    width: 100%;
    text-align: center;
    font-size: 0.5rpx;
    color: #358bee;
  }
  .list {
    margin: 0.5rpx auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
}
// 搜索历史-结束
