$search-height: 3rpx;
$bgcolor: #fefbfe;

// 搜索框-开始
.search {
  width: 100%;
  height: $search-height;
  background-color: $bgcolor;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &-input {
    width: 80%;
    font-size: 16rpx;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: #808080;
    background-color: #dddada;
  }
}

.search-position {
  width: 100%;
  height: $search-height;
}
// 搜索框-结束
