.page {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  .arrow:active {
    color: #70d0cf;
  }
  .current {
    min-width: 40rpx;
    text-align: center;
    padding: 5rpx;
    border: 1px solid #ccc;
    border-radius: 10rpx;
  }
  .no {
    color: #ccc;
  }
  .no:active {
    color: #ccc;
  }

  view {
    margin: 0 10rpx;
  }
}
