.bottom {
  // background-image: url(../../assets/images/homePage/spring.jpg);

  background-color: #70d0cf;
  height: 300rpx;
  position: relative;
  padding: 40rpx;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .text {
    z-index: 2;
    position: relative;
    view {
      padding: 8rpx 0;
      color: #ffffff;
      font-size: 25rpx;
      width: 90%;
    }
    .copy {
      padding-left: 0.5rpx;
    }
  }
  .iconBox {
    width: 100%;
    z-index: 2;
    position: relative;
    display: flex;
    margin-top: 2rpx;
    color: #ffffff;

    .box {
      width: 60rpx;
      height: 60rpx;
      border: 1px solid #ffffff;
      border-radius: 2px;
      margin: 8rpx 18rpx 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-variant: diagonal-fractions;
    }
  }
}
