.works {
  padding-top: 1rpx;
  &-item {
    width: 100%;
    &-img {
      width: 100%;
      margin-bottom: 15rpx;
    }
    .title,
    .time {
      text-align: center;
      margin-bottom: 0.4rpx;
    }
    .time,
    .share-more {
      font-size: 16rpx;
      color: #9fa3a5;
    }
    .description {
      font-size: 25rpx;
      color: #6f6f6f;
      width: 90%;
      margin: 0 auto;
      text-align: center;
      .more {
        color: #86c9b1;
      }
    }
    .share-more {
      width: 90%;
      text-align: center;
      display: flex;
      justify-content: flex-end;
      .share,
      .more {
        font-size: 20rpx;
        margin-right: 15rpx;
      }
      .iconfont::before {
        margin-right: 10rpx;
      }
      margin: 20rpx 0;
    }
  }
}
